<h1><%= t "mailer.password_reset.title" %></h1>
<p><%= t "mailer.password_reset.body_1" %></p>
<%= link_to "Reset password", edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "mailer.password_reset.body_2" %></p>
<p><%= t "mailer.password_reset.body_3" %></p>
